{% extends 'base.html.twig' %}

{% block body %}
    <h1>mon Blog</h1>
    <p>Ceci est la page d'accueil</p>

    <p><a href="{{ path('actualites_articles') }}">Liste des articles</a></p>
{% endblock %}